<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>566738057465-c97pp43nf52nd1nbknoiko8i82pnigs5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.566738057465-c97pp43nf52nd1nbknoiko8i82pnigs5</string>
	<key>API_KEY</key>
	<string>AIzaSyADcVIOzDG-EYtEwC0wlxPsJXBpu-jYThU</string>
	<key>GCM_SENDER_ID</key>
	<string>566738057465</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.withempathyagency.todoe</string>
	<key>PROJECT_ID</key>
	<string>todoe-8f40f</string>
	<key>STORAGE_BUCKET</key>
	<string>todoe-8f40f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:566738057465:ios:aa4b2c00f297c6f8fe8a28</string>
	<key>DATABASE_URL</key>
	<string>https://todoe-8f40f.firebaseio.com</string>
</dict>
</plist>